# Dependencies
node_modules

# Next.js
.next
out
*.tsbuildinfo
next-env.d.ts

# Environment
.env
.env.local
.env.production

# Database
*.db
*.db-shm
*.db-wal

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
